<!-- users/templates/users/friend_list.html -->
<!DOCTYPE html>
<html>
<head>
    <title>Friend List</title>
</head>
<body>
    <h1>Friend List</h1>

    <form action="{% url 'search_user' %}" method="get">
        <input type="text" name="username" placeholder="Search users..." value="{{ query }}" required>
        <button type="submit">Search</button>
    </form>

    {% if query %}
    <div>
        <h2>Search Results for "{{ query }}":</h2>
        <ul>
            {% for user in users %}
                <li>{{ user.username }}
                    <a href="{% url 'add_friend' user.username %}">Add Friend</a>
                    <a href="{% url 'remove_friend' user.username %}">Remove Friend</a>
                </li>
            {% empty %}
                <li>No users found.</li>
            {% endfor %}
        </ul>
    </div>
    {% endif %}

    <ul>
        {% for friend in friends %}
            <li>
                {{ friend.username }}
                <a href="{% url 'start_private_chat' friend.username %}">Chat</a>
                <a href="{% url 'remove_friend' friend.username %}">Remove</a>

            </li>
        {% empty %}
            <li>No friends to show.</li>
        {% endfor %}
    </ul>
</body>
</html>

