<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room: {{ room_name }}</title>
</head>
<body>
    <h1>Chat Room: {{ room_name }}</h1>
    <div id="chat-log">
        <p>聊天消息将显示在这里...</p>
    </div>
    <input id="chat-message-input" type="text" size="100" autofocus>
    <input id="chat-message-submit" type="button" value="发送">

    <script>
        var roomName = "{{ room_name }}";
        var chatSocket = new WebSocket(
            'ws://' + window.location.host + 
            '/ws/chat/' + roomName + '/'
        );

        chatSocket.onmessage = function(e) {
            var data = JSON.parse(e.data);
            // 检查数据中是否包含作者信息，如果不包含则默认显示为"匿名用户"
            var author = data.author || "匿名用户";
            var message = data.message;
            var timestamp = data.timestamp || new Date().toISOString(); // 如果没有时间戳则使用当前时间
            document.querySelector('#chat-log').innerHTML += ('<p><b>' + author + '</b>: ' + message + ' <i>(' + timestamp + ')</i></p>');
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            var messageInputDom = document.querySelector('#chat-message-input');
            var message = messageInputDom.value;
            // 发送消息时，不需要在客户端指定作者，因为这应该由服务器处理
            chatSocket.send(JSON.stringify({
                'message': message
            }));
            messageInputDom.value = '';
        };

        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {
                document.querySelector('#chat-message-submit').click();
            }
        };
    </script>
</body>
</html>


